<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@using Proyecto1ED2.Models
@model List<string> 

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@using (Html.BeginForm("Chat", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <head>
        <style>
            #tabla{
                height: 25%;
                width: 80%;
               
            }
            #BtnEnviar{
                margin-top:20%;
            }
           
            #Regresar{
                margin-top: 5%;
            }

           
        </style>
        <br />
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <div class="page-header">
                    <h1>
                        <span>Chat con: </span>
                    </h1>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h1>
                        @ViewBag.Amigo
                    </h1>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </head>
    <body>
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div style="text-align: center" id="tabla">
                                <table class="table table-bordered">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <form>
                                <div class="form-group">
                                    @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="form-group" style="text-align: center" id="BtnEnviar">
                                    <input type="submit" value="Enviar" class="btn btn-block btn-info" />
                                </div>
                            </form>
                            <br />
                            <form style="align-items:center" id="Adjunto">
                                <label for="file">Adjuntar</label>
                                <input type="file" name="file" id="file"/>
                                <br />
                                <input type="submit" value="Upload"/>
                            </form>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8" id="Regresar">
                            @Html.ActionLink("Regresar", "MenuContactos", null, new { @class = "btn btn-block btn-info" })
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
</html>
